[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}
asyncpg = "*"
tenacity = "*"
alembic = "*"
psycopg2-binary = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}

[dev-packages]
factory-boy = "*"
pytest-asyncio = "*"
ruff = "*"

[requires]
python_version = "3.10"
